<!-- <FlexboxLayout>
    <Label [text]="loadedDate | date"></Label>
    <Button class="btn" text="Completed" (tap)="onHandleInput('complete')"></Button>
    <Button class="btn" text="Failed" (tap)="onHandleInput('fail')"></Button>
</FlexboxLayout> -->

<FlexboxLayout>
    <Label class="h1"
           [text]="loadedDate | date"></Label>
    <ns-challenge-actions (actionSelect)="onHandleInput($event)"
                          [chosen]="loadedStatus"></ns-challenge-actions>
</FlexboxLayout>
